[submodule ".spectat/shared-scripts"]
	path = .spectat/shared-scripts
	url = https://gitlab.com/spectat/shared-scripts
[submodule "themes/tale-hugo"]
	path = themes/tale-hugo
	url = https://gitlab.com/jamietanna/tale-hugo-jvt.me
