image: docker:19.03

variables:
  DOCKER_DRIVER: overlay
  GIT_SUBMODULE_STRATEGY: normal

stages:
  - build
  - deploy

build_test_site:
  services:
    - docker:19.03-dind
  stage: build
  script:
    - docker build -f Dockerfile.branch .
    # }}}
  only:
    refs:
      - branches
    changes:
      - themes/*
  except:
    - master

theme_branch:
  image: alpine:latest
  stage: build
  script:
    - apk add --update git ruby
    - ruby .ci/theme-branch.rb
  only:
    - branches
  except:
    - master
# }}}

build:
  stage: build
  image:
    name: registry.gitlab.com/jamietanna/jvt.me/hugo-base:0.92.0
    entrypoint: ['']
  tags:
  artifacts:
    expire_in: 30 minutes
    name: "$CI_COMMIT_REF_SLUG"
    paths:
      - public/
  interruptible: true
  script:
    - hugo --verbose --minify
  only:
    - master

deploy:
  stage: deploy
  image:
    name: registry.gitlab.com/jamietanna/jvt.me/hugo-base:0.80.0
    entrypoint: ['']
  tags:
  resource_group: production
  artifacts:
    name: "$CI_COMMIT_REF_SLUG"
    expire_in: 30 minutes
    paths:
      - public/
  script:
    - hugo deploy --log --verbose --maxDeletes -1
  only:
    - master
