test/dest
*.gem
pkg/
*.swp
*~
_site/
.bundle/
.DS_Store
bbin/
gh-pages/
site/_site/
coverage
.ruby-version
.ruby-gemset
.sass-cache
tmp/*
.jekyll-metadata
/vendor
/test/source/file_name.txt
.analysis
tmp
node_modules
assets/css/main.css
assets/js/main.js
_includes/src/2017-year-in-review/vendor
