---
layout: default
title: Jamie Tanna | Developer
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<div class="logo"><span class="icon fa-code"></span></div>
		<h2>Jamie Tanna</h2>
		<p>Backend Developer</p>
	</div>
</section>

<!-- Wrapper -->
<section id="wrapper">

  {% assign isalt = false %}
	{% for section in site.data.aboutme %}
    {% capture class %} {% cycle 'style1', 'style2', 'style3' %} {% endcapture %}
    {% capture altclass %} {% cycle '', 'alt' %} {% endcapture %}
    {% if altclass == ' alt ' %}
      {% assign isalt = true %}
    {% else %}
      {% assign isalt = false %}
    {% endif %}

  <section class="wrapper spotlight style1 {{ class }} {{ altclass }}">
		<div class="inner">
			<div class="image">
				{% if section.image %}
				<img src="{{ site.url | append: '/' | append: site.baseurl | append: '/images/' | append: section.image }}" alt="" />
				{% else if section.icon %}
				<i class="fa {{ section.icon }}"></i>
				{% endif %}
			</div>
			<div class="content">
				<h2 class="major">{{ section.title }}</h2>
				{% for paragraph in section.description %}
				<p>{{ paragraph | markdownify }}</p>
				{% endfor %}
			</div>
		</div>
	</section>
	{% endfor %}

  {% if isalt == true %}
  {% assign altclass = '' %}
  {% else %}
  {% assign altclass = 'alt' %}
  {% endif %}

  <section id="four" class="wrapper style2 {{ altclass }}">
    {% include list-projects.html %}
  </section>

</section>
