---
layout: default
---
<div class="content">
		<div class="about">
			{% for line in site.long_description %}
			<p class="about__text">{{ line }}</p>
			{% endfor %}
		</div>
		<ul class="recent">
				<h1>Recent Posts</h1>
				<p>Check out some of my recent posts:</p>
				{% assign limit = 10 %}
				{% include post/list.html %}
				<h1>Talks and Workshops</h1>
				<p>I have a <a href="/talks/">number of talks and workshops</a> that I have done previously, and am open to do.</p>
				<h1>Projects</h1>
				<p>I also have a number of projects I've documented <a href="/projects/">on my projects page</a>.</p>
		</ul>
</div>

{% include footer.html %}
