---
layout: default
title: Jamie Tanna | Developer
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<div class="logo"><span class="icon fa-diamond"></span></div>
		<h2>Jamie Tanna</h2>
		<p>University of Nottingham Computer Scientist</p>
	</div>
</section>

<!-- Wrapper -->
<section id="wrapper">

  {% assign isalt = false %}
	{% for section in site.data.aboutme: %}
    {% capture class %} {% cycle 'style1', 'style2', 'style3' %} {% endcapture %}
    {% capture altclass %} {% cycle '', 'alt' %} {% endcapture %}
    {% if altclass == ' alt ' %}
      {% assign isalt = true %}
    {% else %}
      {% assign isalt = false %}
    {% endif %}

  <section class="wrapper spotlight style1 {{ class }} {{ altclass }}">
		<div class="inner">
			<img class="image" src="{{ site.url + '/' + site.baseurl | append: '/images/' | append: section.image }}" alt="" />
			<div class="content">
				<h2 class="major">{{ section.title }}</h2>
				{% for paragraph in section.description: %}
				<p>{{ paragraph }}</p>
				{% endfor %}
			</div>
		</div>
	</section>
	{% endfor %}

  {% if isalt == true %}
  {% assign altclass = '' %}
  {% else %}
  {% assign altclass = 'alt' %}
  {% endif %}

  <section id="four" class="wrapper style2 {{ altclass }}">
    <div class="inner">
      <h2 class="major">My Projects</h2>
      <p>Below you can find some of the projects I've worked on in the past.</p>
      <section class="features">
		{% for project in site.pages %}
		{% if project.layout == 'project' %}
        <article>
          <a href="{{ project.url}}" class="image"><img src="{{ project.image | prepend: "images/" | prepend: site.baseurl }}" alt="" /></a>
          <h3 class="major">{{ project.title }} </h3>
          {% for paragraph in project.description: %}
          <p>{{ paragraph }}</p>
          {% endfor %}
          <a href="{{ project.url }}" class="special">Read More</a>
          {% if project.gitlab: %}
          <a href="https://gitlab.com/{{ project.gitlab }}" class="special">Gitlab</a>
          {% endif %}
          {% if project.github: %}
          <a href="https://github.com/{{ project.github }}" class="special">Github</a>
          {% endif %}
        </article>
        {% endif %}
        {% endfor %}
      </section>
      <ul class="actions">
        <li><a href="#" class="button">Browse All</a></li>
      </ul>
    </div>
  </section>

</section>
