{% assign isLimit = limit is defined %}
{% unless isLimit %}
{% assign limit = 1000 %}
{% endunless %}
{% assign isImage = showImage is defined %}
{% unless isImage %}
{% assign showImage = true %}
{% endunless %}
<div class="content">
	<p>Below you can find some of the projects I've worked on in the past.</p>

	<p class="search-wrapper">
		You can also search the below projects: <input type="text" id="search-input" value="" placeholder="Search projects..." />
	</p>

	<p id="no-search-matches" class="hidden">No matches found.</p>
	<section id="content-list">
		{% assign projects = site.projects | sort:"date" | reverse %}
		{% for project in projects | limit:limit %}
		{% include project/preview.html %}
		{% endfor %}
	</section>

	{% unless limit == 1000 %}
	<p><a href="/projects/">Read about other projects I've worked upon.</a></p>
	{% endunless %}
</div>
