{% assign isLimit = limit is defined %}
{% unless isLimit %}
{% assign limit = 1000 %}
{% endunless %}
<div class="content">
	<p>Below you can find some of the projects I've worked on in the past.</p>
	<section class="features">
		{% assign projects = site.projects | sort:"date" | reverse %}
		{% for project in projects | limit:limit %}
		{% include project/preview.html %}
		{% endfor %}
	</section>

	{% unless limit == 1000 %}
	<p><a href="{{ '/projects/' | prepend:site.baseurl }}">Read about other projects I've worked upon.</a></p>
	{% endunless %}
</div>
