<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>

        <ul class="menu">
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.url }}">About</a></li>
            <li class="menu__entry"><a href="{{ '/posts/' | prepend: site.url }}">Blog</a></li>
            <li class="menu__entry"><a href="{{ '/projects/' | prepend: site.url }}">Projects</a></li>
            <li class="menu__entry"><a href="{{ '/talks/' | prepend: site.url }}">Talks</a></li>
        </ul>
    </div>

    <ul class="social-links">
        {% if site.author.gitlab %}
            <a href="https://gitlab.com/{{ site.author.gitlab }}" class="social-links__entry" target="_blank">
                <i class="fa fa-gitlab"></i>
            </a>
        {% endif %}

        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}

        {% if site.author.linkedin %}
            <a href="https://linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        {% endif %}
    </ul>
</header>