<head>
	{% if page.url == '/' or page.url == '/index.html' %}
	<title>{{ site.title }}</title>
	{% else %}
	<title>{{ page.title }} | {{ site.title_short }}</title>
	{% endif %}
	<!--<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>-->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/css/gruvbox.css" | prepend: site.baseurl }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
	{% include tracker.html %}
	{% seo %}
</head>

