<script type="text/javascript" src="/search/all.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/js/search.js" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">

  var searchInput = document.getElementById('search-input');
  var container = document.getElementById('content-list');
  var noMatchesElement = document.getElementById('no-search-matches');

  searchInput.oninput = function() {
    onSearchInput(all_json, searchInput, container, noMatchesElement);
  };
</script>
