<div class="tree-posts">

    <h3>*Projects*</h3>

		{% for project in site.pages %}
		{% if project.layout == 'project' %}

    <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogProjecting" itemprop="blogProject">
        <div class="content">
            <a title="Open the project" href="{{ project.url | prepend: site.baseurl }}">
                <h2 class="post-title" itemprop="name">{{ project.title | replace: ' ','-'}}.md</h2>
            </a>
        </div>
    </article>

    {% endif %}
    {% endfor %}

</div>

