/* =Base */
body {
    font-family: 'Inconsolata', monospace;
    color: $iron;
    background-color: $dorian;
}

.spoiler {
    color: $dorian;
    &:hover {
        color: $iron;
    }
}

a {
    color: $cloudy;
    font-weight: bold;
    text-decoration: none;

    &:hover {

    }
}

code {
    font-family: 'Inconsolata', monospace;
}

p {
    font-size: 20px;
    line-height: 32px;
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
}

blockquote {
    letter-spacing: 3px;
    margin:0px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0px;
    text-align: center;
    position: relative;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $iron;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        font-size: 20px;
        color: $cloudy;
        font-weight: 400;
        &:before { content: "“"; }
        &:after { content: "”"; }
    }
}

strong {
    color: $iron;
}

/* =Header */
.wrapper {
    margin: 50px auto;
}

.header {
    overflow: hidden;
    max-width: 1000px;
    margin: 50px auto 0px auto;
}

.navigation {
    float:left;
}

.logo {
    font-size: 50px;
    font-weight: 700;
    color: $iron;
    display: block;
}

.menu {
    color: $cloudy;
    font-size: 18px;
    margin:0px;
    margin-top: 6px;
    padding: 0px;
    list-style-type: none;
}

.menu__entry {
    display: inline-block;
    margin-right: 35px;

    &:last-child {
        margin-right: 0px;
    }
}

.menu__entry a {
    font-weight: 400;
}

.social-links {
    float:right;
    font-size: 24px;
    color: $cloudy;
    list-style-type: none;
}

.social-links__entry {
    display: inline-block;
    margin-left: 10px;
}

/* =Titles */
.page-title {
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
    &:not(.post-title)::before {
        font-size: 40px;
    }
}

.page-title__text {
    font-weight: 700;
    font-size: 40px;
}

.page-title__subtitle {
    font-weight: 400;
    font-size: 22px;
    color: $cloudy;
}

.post-title {
    margin-bottom: 25px;
}

.post-title__text {
    font-size: 40px;
}

.post-title__subtitle {
    font-size: 20px;
}

.post-title__read-time {
    font-weight: 400;
    font-size: 14px;
    color: $cloudy;
}

/* =Post teasers */

.list-posts {
    list-style-type: none;
    padding: 0px;
}

.post-teaser {
    margin-bottom: 45px;
    font-weight: 700;
}

.post-teaser__title {
    font-size: 22px;
    color: $iron;
}

.post-teaser__date {
    font-size: 16px;
    float: right;
    vertical-align: middle;
    color: $cloudy;
}

.empty-post-list {
    font-size: 22px;
    font-weight: 700;
    color: $iron;
    text-align: center;
}

/* =Explore */
.explore {
    text-align: center;
    color: $cloudy;
    margin-top: 140px;
}

.explore__label {
    font-size: 14px;
    margin-top: 15px;
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;
}

.categories__item {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.categories__item a {
    color: $iron;
}

.categories__item:after {
    content: "/";
    margin-left: 6px;
    color: $cloudy;
}

.categories__item:last-child:after {
    content: "";
    margin-left: 0px;
}


/* =Post page */
.about {
    color: $cloudy;
    line-height: 24px;
    text-align: center;
}

.about__text {
    font-size: 18px;
}

@media (max-width: 800px) {
	.wrapper {
		margin: 25px auto;
	}
	.header {
		margin: 25px auto 0px auto;
	}
    /* =Base */
    p {
        font-size: 16px;
        line-height: 1.6;
    }

    .navigation,
    .social-links {
        @include centered-block();
    }

    .social-links {
        font-size: 30px;
        margin-top: 35px;
    }

    .page-title__text {
        font-size: 40px;
    }

    .page-title__subtitle {
        font-size: 18px;
    }

    .post-teaser__title {
        font-size: 18px;
        @include centered-block();
    }

    .post-teaser__date {
        font-size: 16px;
        margin-top: 10px;
        float: none;
        @include centered-block();
    }

    .explore {
        margin-top: 80px;
    }

    .post-title__text {
        font-size: 28px;
    }

    .post-title__subtitle {
        font-size: 18px;
    }
}

/* Stolen from jekyll-space-theme {{{ */

.highlight {
	white-space: pre;
	overflow: auto;
	word-wrap: normal;
	border-radius: 0;
	background-color: #2f2f33;
	color: #c1c2c3;
	font-size: 20px;
}

pre.highlight {
	padding: 20px;
	margin: 0;
}

.content,footer,div.about {
	p, h1, h2, h3, h4, ul, ol, .tags, iframe, blockquote, div.post-meta {
		max-width: 75rem;
		padding: 0 1.25rem;
		margin: 0.9rem auto 0.9rem;
		line-height: 2;
		letter-spacing: .01rem;
	}
}

pre code {
	width: auto;
	max-width: 75rem;
	float: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
	padding: 0 1.25rem;
}

:not(pre) > code {
	&::before, &::after {
		content: "`";
	}
}

/* }}} */

a {
	&, & code {
		color: #b324d4;
	}
}

.image i {
	font-size: 128px;
	text-align: center;
	display: block;
}

footer ul {
	list-style: none;
	text-align: center;
}

.divider {
    text-align: center;
    font-size: 18px;
    letter-spacing: 8.18px;
    color: $cloudy;
    margin-top: 25px;
    margin-bottom: 25px;
}

// Markdownify {{{
@function getMultipleOfCharacter($char, $count) {
	$content: "";
	@for $i from 1 through $count {
		$content: "#{$content}#{$char}";
	}
	@return $content
}

.wrapper {
	@for $headingLevel from 1 through 4 {
		h#{$headingLevel}::before {
			content: getMultipleOfCharacter('#', $headingLevel);
			margin-right: 10px;
		}
	}
}
.content, .about {
	ul {
		list-style: none;
		li::before {
			content: "-";
			color: $iron;
			font-size: 1.0rem;
			margin-right: 10px;
		}
	}
}
// }}}

.post-meta {
	color: $cloudy;
	font-size: 80%;
	line-height: 1;
	.post-categories-tags {
		font-size: 60%;
	}
}

.content ul ul, .content ul ul ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

.toc ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

.toc-entry {
	&.toc-h3 {
		font-size: 90%;
	}
	&.toc-h4 {
		font-size: 90%;
	}
}

#search-input {
	width: 50%;
}

.hidden {
	display: none;
}
