<div class="about">
    <div class="divider">*****</div>
    <div class="about__text">
		<p>
			<a name="about"></a>
			Written by <strong> {% if page.author.fullname %} {{ page.author.fullname }} {% else %} {{ site.author.fullname }} {% endif %}</strong> on <strong>{{ page.date | date: "%d %B %Y" }}</strong>, and last updated on <strong><a href="https://gitlab.com/jamietanna/jvt.me/commit/{{ page.git.last_commit.long_sha }}" >{{ page.git.last_commit.author_date | date: "%d %B %Y" }}</a></strong>.
		</p>

		<h3>Tags</h3>
		{% if page.tags.size > 0 %}
		<ul class="post-tags">
			{% for tag in page.tags %}
			{% capture tagLink %}
			{{ site.baseurl }}/tags/{{ tag }}/
			{% endcapture %}
			<li>
				<a href="{{ tagLink }}">
					{{ tag }}
				</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>This post has no tags.</p>
		{% endif %}

		<h3>Categories</h3>
		{% if page.categories.size > 0 %}
		<ul class="post-categories">
			{% for category in page.categories %}
			{% capture categoryLink %}
			{{ site.baseurl }}/categories/{{ category }}/
			{% endcapture %}
			<li>
				<a href="{{ categoryLink }}">
					{{ category }}
				</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>This post has no categories.</p>
		{% endif %}
    </div>
</div>