{% assign publishDate = page.date | date: "%d %B %Y" %}
{% assign gitUpdateDate = page.git.last_commit.author_date | date: "%d %B %Y" %}
{% capture updatedDates %}on <strong>{{ page.date | date: "%d %B %Y" }}</strong>{% if publishDate != gitUpdateDate %}, and last updated on <strong><a href="https://gitlab.com/jamietanna/jvt.me/commit/{{ page.git.last_commit.long_sha }}" >{{ page.git.last_commit.author_date | date: "%d %B %Y" }}</a></strong>{% endif %}{% endcapture %}

<div class="about">
    <div class="divider">*****</div>
    <div class="about__text">
		<p>
			<a name="about"></a>
			Written by <strong> {% if page.author.fullname %} {{ page.author.fullname }} {% else %} {{ site.author.fullname }} {% endif %}</strong>{{ updatedDates }}.
		</p>
		<p>Content for this article is shared under the terms of the {% assign prose = site.data.licenses[page.licenses.prose] %}<a href="{{ prose.url }}">{{ prose.long_name }}</a>, and code is shared under {% assign code = site.data.licenses[page.licenses.code] %}<a href="{{ code.url }}">{{ code.long_name }}</a>.</p>

		<h3>Tags</h3>
		<ul class="post-tags">
			{% for tag in page.tags %}
			{% capture tagLink %}
			/posts/tags/{{ tag }}/
			{% endcapture %}
			<li>
				<a href="{{ tagLink }}">
					{{ tag }}
				</a>
			</li>
			{% endfor %}
		</ul>

		<h3>Categories</h3>
		<ul class="post-categories">
			{% for category in page.categories %}
			{% capture categoryLink %}
			/posts/categories/{{ category }}/
			{% endcapture %}
			<li>
				<a href="{{ categoryLink }}">
					{{ category }}
				</a>
			</li>
			{% endfor %}
		</ul>
    </div>
</div>
