<p class="search-wrapper">
	You can also search the below posts: <input type="text" id="search-input" value="" placeholder="Search posts..." />
</p>

{% assign isLimit = limit is defined %}
{% unless isLimit %}
{% assign limit = 1000 %}
{% endunless %}
<p id="no-search-matches" class="hidden">No matches found.</p>
<section id="content-list">
	{% for post in site.posts limit:limit %}
	{% include post/preview.html %}
	{% endfor %}
</section>

{% unless limit == 1000 %}
<p><a href="/posts/">Read the rest of my posts</a></p>
{% endunless %}
