{% capture categoryLink %}<a href="/posts/categories/{{ post.categories[0] }}/">{{ post.categories[0] }}</a>{% endcapture %}
<article id="{{ post.url | slugify }}">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="post-meta">
      <span class="posted-on">Posted on {{ post.date  | date_to_long_string }}</span> and <span class="filed-under">filed under {{ categoryLink }}.</span>
      <span class="read-time">Estimated read time of {% include post/read-time.html %}.</span>
  </div>
  {% capture desc %}{{ post.description | markdownify }}{% endcapture %}
  <p>{{ desc }}</p>
</article>
