---
layout: page
---
{% for item in page.metadataList %}
{% capture childLink %}
{{ site.baseurl }}/{{ page.metadataDir }}/{{ item[0] }}/
{% endcapture %}
  <h2 id="{{ item[0] | slugify }}">
    <a href="{{ childLink }}">{{ item[0] | capitalize }}</a>
  </h2>
  <ul class="post-list">
    {% assign pages_list = item[1] %}
    {% for post in pages_list reversed %}
      {% if post.title != null %}
      <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
					</a>
					&nbsp;
					<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
      </li>
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
  </ul>
{% endfor %}

<div class="divider">

</div>

{% for post in metadata %}
{% include post/preview.html %}
{% endfor %}
