---
layout: page
---
<div class="content">
	{% assign isTechStack = page.tech_stack.size > 0 %}
	{% assign isRepoAvailable = page.gitlab is defined or page.github is defined %}
	{% assign isSiteAvailable = page.site_url is defined %}
	{% capture repoLinks %}
	{% if page.gitlab %}
	<a href="https://gitlab.com/{{ page.gitlab }}"><i class="fa fa-gitlab"></i> Gitlab</a>
	{% endif %}
	{% if page.github %}
	<a href="https://github.com/{{ page.github }}"><i class="fa fa-github"></i> Github</a>
	{% endif %}
	{% endcapture %}
	<article class="post wrapper project">
		<header class="post-header">
			<p>{{ page.description }}</p>

			<div class="project-status">
				{% assign project = page %}
				<p>{% include project/status.html %}</p>
			</div>
			{% if page.image %}
			<div class="post-image">
				<img class="post-image" src="/assets/img/projects/{{ page.image }}" alt="{{ page.title }}"/>
			</div>
			{% endif %}
		</header>
		<section class="post-content">
			<h2 class="major">Overview</h2>
			{{ content | markdownify }}

			{% if isTechStack or isRepoAvailable or isSiteAvailable %}
			<h2 class="major">Tech Stack</h2>
				{% if isTechStack %}
				<p>This project was built using the following technologies:</p>
				<ul>
					{% for tech_item in page.tech_stack %}
						{% assign tech = site.data.techstack[tech_item] %}
						{% assign isTech = tech is defined %}
						{% if isTech %}
						<li><a href="{{ tech.link }}">{{ tech.title }}</a>: {{ tech.description }}</li>
						{% else %}
						<li><a href="http://non-existent.server-jvtme" style="color:red" target="_blank">TODO {{tech_item}} does not have a specified _data mapping</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				{% endif %}
				{% if isRepoAvailable or isSiteAvailable %}
					<h2 class="major">Project Links</h2>
					{% if page.site_url %}
					<p>Visit the project's official site at <a href="{{ page.site_url }}">{{ page.site_name }}</a>.</p>
					{% endif %}
					{% if isRepoAvailable %}
						<p>Find the project on {{ repoLinks }}.</p>
					{% endif %}
				{% endif %}
			{% endif %}
		</section>
	</article>
</div>
