---
layout: minimal
---
{% assign isTechStack = page.tech_stack.size > 0 %}
{% capture isRepoAvailable %}
	{{ page.gitlab}}{{ page.github }}
{% endcapture %}
{% assign isSiteAvailable = page.site_url %}
<article class="post wrapper project">
		<header class="post-header">
				<div class="inner">
						<div class="row">
								<div class="8u 12u$(medium)">
										<h1 class="post-title">{{ page.title }}</h1>
										<p>{{ page.description }}</p>
								</div>
								<div class="4u 12u$(medium)">
									<img class="post-image" src="/assets/img/{{ page.image }}" alt="{{ page.title }}"/>
								</div>
						</div>
				</div>
		</header>

		<div class="wrapper">
				<div class="inner">
						<div class="post-content">
								<div class="row">
										{% if isTechStack or isRepoAvailable or isSiteAvailable %}
										<div class="8u 12u$(medium)">
										{% else %}
										<div class="12u">
										{% endif %}

												<h3 class="major">Overview</h3>
												{{ content | markdownify }}
										</div>
										{% if isTechStack or isRepoAvailable or isSiteAvailable %}
										<div class="4u 12u$(medium)">
										{% if isTechStack %}
												<h3 class="major">Tech Stack</h3>
												<p>This project was built using the following technologies:</p>
												<ul>
														{% for tech_item in page.tech_stack %}
														{% assign tech = site.data.techstack[tech_item] %}
														<li><a href="{{ tech.link }}">{{ tech.title }}</a>: {{ tech.description }}</li>
														{% endfor %}
												</ul>
										{% endif %}
										{% if isRepoAvailable or isSiteAvailable %}
												<h3 class="major">Project Links</h3>
												{% if page.site_url %}
												<p> Visit the project's official site at:</p><a href="{{ page.site_url }}" class="special">{{ page.site_name }}</a>
												{% endif %}
												{% if isRepoAvailable %}
												<p>Find the project on:</p>
												{% endif %}
												{% if page.github %}
												<a href="https://github.com/{{ page.github }}" class="special github">Github</a>
												{% endif %}
												{% if page.gitlab %}
												<a href="https://gitlab.com/{{ page.gitlab }}" class="special gitlab">Gitlab</a>
												{% endif %}
										{% endif %}
										</div>
										{% endif %}
								</div>
						</div>
				</div>
		</div>
</article>
