---
layout: default
---
<article class="post wrapper">
		<header class="post-header">
				<div class="inner">
						<h1 class="post-title">{{ page.title }}</h1>
						<p>{{ page.description }}</p>
				</div>
		</header>

		<div class="wrapper">
				<div class="inner">
						<div class="post-content">
								<h3 class="major">Overview</h3>
								{{ content | markdownify }}
						</div>
				</div>
		</div>

		<div class="wrapper">
				<div class="inner">
						<h3>Tech Stack</h3>

						<p>This project was built using the following technologies:</p>
						<section class="features">
								{% for tech_item in page.tech_stack %}
								{% assign tech = site.data.techstack[tech_item] %}
								<article>
										<a href="{{ tech.link }}" class="image"><img src="images/{{ tech.image }}" alt="" /></a>
										<h3 class="major">{{ tech.title }}</h3>
										<p>{{ tech.description }}</p>
										<a href="{{ tech.link }}" class="special">Learn more</a>
								</article>

								{% endfor %}
						</section>
				</div>
		</div>

</article>
