---
layout: page
---
{% for item in page.projects %}
{% capture childLink %}
{{ site.baseurl }}/{{ page.techDir }}/{{ item[0] }}/
{% endcapture %}
  <h2 class="{{ itemClass }}-title" id="{{ item.slug }}">
    <a href="{{ childLink }}">{{ item[0] }}</a>
  </h2>
  <ul class="project-list">
    {% assign projects_list = item[1] %}
    {% for project in projects_list reversed %}
      {% if project.title != null %}
      <li>
        <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>: {{ project.description }}
      </li>
      {% endif %}
    {% endfor %}
    {% assign projects_list = nil %}
  </ul>
{% endfor %}

<div class="divider">

</div>

<h2>Others</h2>
<p>The following projects don't have a tech stack associated with them:</p>
{% for project in page.uncategorised_projects %}
  <ul class="project-list">
    {% if project.title != null %}
    <li>
      <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>: {{ project.description }}
    </li>
    {% endif %}
  </ul>
{% endfor %}
