This isn't the perfect way to share these, and I'm working on an alternative, but until then, here's who I'm following:

{{ range $.Site.Data.follows }}

{{ $ctx := . }}
{{ $c := .properties }}
<article>
  <h2>{{ index .properties.name 0 }}</h2>

  On:

  <ul>

  {{ range .properties.url }}
  {{ $urlId := replaceRE "[^a-zA-Z0-9]+" "_" . }}
  <li class="h-entry" id="{{ $urlId }}">
    <a class="u-url" id="{{ $urlId }}" aria-hidden="true"></a>

    <p><a class="u-follow-of" href="{{ . }}">{{ . }}</a></p>

    <a class=u-syndication href="https://fed.brid.gy/" aria-hidden="true"></a>
  </li>
  {{ end }}

  </ul>
</article>
{{ end }}
